<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n"/>
        </layout>
    </appender>

    <appender name="ScheduledTasksAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/home/logworker/webservice_logs/ScheduledTasks.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n"/>
        </layout>
    </appender>

    <appender name="AlertControllerAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/home/logworker/webservice_logs/AlertController.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n"/>
        </layout>
    </appender>

    <logger name="com.vng.teg.logtool.web.schedule.ScheduledTasks" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="ScheduledTasksAppender"/>
    </logger>
    <logger name="com.vng.teg.logtool.web.controller.AlertController" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="AlertControllerAppender"/>
    </logger>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="ConsoleAppender" />
    </root>

</log4j:configuration>